onnx==1.16.0
tensorflow==2.16.2
numpy==1.26.4
protobuf==4.22.0
scipy==1.15.3
simplejson==3.20.2
thread==2.0.6
torch==2.2.2
torchvision==0.17.2
tvm==1.0.0
typing_extensions==4.15.0
ipython==8.38.0
pyjnius==1.7.0
attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==6.0.0.post1
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.22.4
filelock==3.24.3
h2==4.3.0
HTMLParser==0.0.2
ipywidgets==8.1.8
js==1.0
keras==3.12.1
keyring==25.7.0
matplotlib==3.10.8
onnxruntime==1.19.2
Pillow==12.1.1
pymoo==0.6.1.6



